parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method assertExitCode\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/Feature/LegorAccountTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Feature/LegorAccountTest.php
