# Run PHPStan code analysis with `clear && ./vendor/bin/phpstan analyse --memory-limit=2G` command

includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6
    checkGenericClassInNonGenericObjectType: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false