# Run PHPStan code analysis with `clear && ./vendor/bin/phpstan analyse --memory-limit=2G` command

includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - tests/
        - resources/

    # Level 9 is the highest level
    level: 7
    ignoreErrors:
        - identifier: missingType.generics

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false