name: Docker Compose Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-docker:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:26.0.0
        options: --privileged
    steps:
      - uses: actions/checkout@v2

      - name: Setup Docker Compose
        uses: ./.github/actions/docker-compose-setup

      - name: Run Tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: docker compose exec -T ogamex-app php artisan test

      - name: Run custom Race Condition Tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            docker compose exec -T ogamex-app php artisan test:race-condition-unitqueue
            docker compose exec -T ogamex-app php artisan test:race-condition-game-mission
