name: Laravel Pint PSR-12 Code Style Checker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  laravel-pint-psr12-code-style-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress

      - name: Run Laravel Pint (PSR-12)
        run: composer run cs --verbose --test